---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/bulbasaur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f03c-SAgFmCjRrIklJATfCJNCEsUB8MQ"
      X-Cloud-Trace-Context:
      - 51835ab506fb8fbba61b64a80ca926d5/9624251756522216473
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en-US,en;q=0.9
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"overgrow","url":"https://pokeapi.co/api/v2/ability/65/"},"is_hidden":false,"slot":1},{"ability":{"name":"chlorophyll","url":"https://pokeapi.co/api/v2/ability/34/"},"is_hidden":true,"slot":3}],"base_experience":64,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/1.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/1.ogg"},"forms":[{"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon-form/1/"}],"game_indices":[{"game_index":153,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":153,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":153,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":1,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":1,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":1,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/ve[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/bulbasaur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7789-hKxFXmwM6qHzUxcpvuy+bi1i3Ko"
      Function-Execution-Id:
      - qs6zuluo78hr
      X-Cloud-Trace-Context:
      - e6a4688336f6de783a7868c723b2ae14
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en-US,en;q=0.9
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJiYXNlX2hhcHBpbmVzcyI6NzAsImNhcHR1cmVfcmF0ZSI6NDUsImNvbG9yIjp7Im5hbWUiOiJncmVlbiIsInVybCI6Imh0dHBzOi8vcG9rZWFwaS5jby9hcGkvdjIvcG9rZW1vbi1jb2xvci81LyJ9LCJlZ2dfZ3JvdXBzIjpbeyJuYW1lIjoibW9uc3RlciIsInVybCI6Imh0dHBzOi8vcG9rZWFwaS5jby9hcGkvdjIvZWdnLWdyb3Vw[...]
